h2 {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* input {
  height: 2em;
  font-size: 1em;
  padding-left: .1em;
  width: 80%;
} */

.categoryBtn {
  margin-top: -2px !important;
  margin-bottom: 5px !important;
}

div {
  text-align: center;
  align-content: center;
}

/* textarea {
  width: 80%;
} */

.btn {
  margin-top: 10px;
}

h2 {
  margin-left: 45% !important;
}

.deleteBtn {
  float: left;
}

.cartBtn {
  float: right;
}

select, option {
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  text-align-last: center;
  text-align: center;
}

label {
  color:  #00004d;
  font-size: 20px;
}

.container {
  margin-top: 15px;
}

.titleDetails {
  margin-left: -100px !important;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}