h2 {
  margin-top: 15px;
  margin-bottom: 15px;
}

input {
  height: 2em;
  font-size: 1em;
  padding-left: .1em;
  width: 80%;
}

div {
  text-align: center;
  align-content: center;
}

textarea {
  width: 80%;
}

.btn {
  margin-top: 10px;
}