<div *ngIf="product">
  <div class="container">
    <div class="row titleDetails">
      <div class="col-md-9">
        <h2 class="text-center"> {{product.name | uppercase}} Details</h2>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-outline-info btn-lg cartBtn" (click)="this.addToCart()">Add to
          cart</button>
      </div>
      <div class="col-md-1">
        <button type="button" class="btn btn-outline-danger btn-lg deleteBtn" (click)="this.delete()">Delete</button>
      </div>
    </div>
    <form #productForm="ngForm" (ngSubmit)="this.update(productForm)">
      <div class="form-group">
        <label for="name">Product's name</label>
        <input type="text" [(ngModel)]="product.name" name="name" class="form-control" id="name" required
          #name="ngModel">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          Product's name is required.
        </div>
      </div>

      <div class="form-group">
        <label for="description">Product's description</label>
        <input type="text" [(ngModel)]="product.description" name="description" class="form-control" id="description">
      </div>

      <div class="form-group">
        <label for="price">Price</label>
        <input type="text" [(ngModel)]="product.price" name="price" class="form-control" id="price" required
          #price="ngModel" pattern="^\d*\.?\d*$">
        <div *ngIf="price.invalid && (price.dirty || price.touched)" class="alert alert-danger">
          <div *ngIf="price.errors.required">
            Price is required.
          </div>
          <div *ngIf="price.errors.pattern">
            Price must be of numeric value.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="weight">Weight</label>
        <input type="text" [(ngModel)]="product.weight" name="weight" class="form-control" id="weight" required
          pattern="^\d*\.?\d*$" #weight="ngModel">
        <div *ngIf="weight.invalid && (weight.dirty || weight.touched)" class="alert alert-danger">
          <div *ngIf="weight.errors.required">
            Weight is required.
          </div>
          <div *ngIf="weight.errors.pattern">
            Weight must be of numeric value.
          </div>
        </div>
      </div>

      <div class="form-group">
        <!-- <mat-form-field>
          <mat-label for="category">Category</mat-label>
          <select [(ngModel)]="product.category" name="category" matNativeControl id="category">
            <option *ngFor="let category of categories" [value]="category.id">{{category.id}}. {{category.name}}
            </option>
          </select>
        </mat-form-field> -->
        <label for="category">Category</label>
        <select [(ngModel)]="product.category" name="category" class="form-control" id="category" required>
          <option *ngFor="let category of categories" [value]="category.id">{{category.id}}. {{category.name}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="supplier">Supplier</label>
        <select [(ngModel)]="product.supplier" name="supplier" class="form-control" id="supplier" required>
          <option *ngFor="let supplier of suppliers" [value]="supplier.id">{{supplier.id}}. {{supplier.name}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="imageURL">ImageURL</label>
        <!-- <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="product.imageURL" name="imageURL" id="imageURL">
        </mat-form-field> -->
        <input type="text" [(ngModel)]="product.imageURL" name="imageURL" class="form-control" id="imageURL">
      </div>

      <div class="form-group">
        <label for="categoryName">Category's name</label>
        <input type="text" [(ngModel)]="product.categoryName" name="categoryName" class="form-control"
          id="categoryName">
      </div>

      <div class="form-group">
        <label for="categoryDescription">Category's description</label>
        <textarea type="text" [(ngModel)]="product.categoryDescription" name="categoryDescription" class="form-control"
          id="categoryDescription"></textarea>
      </div>

      <button type="submit" class="btn btn-outline-primary btn-lg">Update</button>
    </form>
  </div>
</div>