<!-- <div *ngIf="product">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center"> {{product.name | uppercase}} Details</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <p class="text-right">Product's name: </p>
      </div>
      <div class="col-md-9">
        <input #name [(ngModel)]="product.name" placeholder="name">
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <p class="text-right">Product's description: </p>
      </div>
      <div class="col-md-9">
        <input #description [(ngModel)]="product.description" placeholder="description">
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <p class="text-right">Price: </p>
      </div>
      <div class="col-md-9">
        <input #price [(ngModel)]="product.price" placeholder="price">
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <p class="text-right">Weight: </p>
      </div>
      <div class="col-md-9">
        <input #weight [(ngModel)]="product.weight" placeholder="weight">
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <p class="text-right">Category: </p>
      </div>
      <div class="col-md-9">
        <input #category [(ngModel)]="product.category" placeholder="category">
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 offset-md-3">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle categoryBtn" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">See available categories</button>
          <ul class="dropdown-menu categories">
            <li *ngFor="let category of categories" class="dropdown-item" href="#">{{category.id}}. {{category.name}}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <p class="text-right">Supplier: </p>
      </div>
      <div class="col-md-9">
        <input #supplier [(ngModel)]="product.supplier" placeholder="supplier">
      </div>
    </div>
    <div class="row">
        <div class="col-md-9 offset-md-3">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle categoryBtn" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">See available suppliers</button>
            <ul class="dropdown-menu suppliers">
              <li *ngFor="let supplier of suppliers" class="dropdown-item" href="#">{{supplier.id}}. {{supplier.name}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    <div class="row">
      <div class="col-md-3">
        <p class="text-right">ImageUrl: </p>
      </div>
      <div class="col-md-9">
        <input #imageURL [(ngModel)]="product.imageURL" placeholder="imageURL">
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <p class="text-right">Category's name: </p>
      </div>
      <div class="col-md-9">
        <input #categoryName [(ngModel)]="product.categoryName" placeholder="category's name">
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <p class="text-right">Category's description: </p>
      </div>
      <div class="col-md-9">
        <textarea #categoryDescription [(ngModel)]="product.categoryDescription"
          placeholder="category's description"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 offset-md-2">
        <button type="button" class="btn btn-outline-primary btn-lg" (click)="this.update(name.value, description.value, price.value, weight.value, category.value, supplier.value, 
          imageURL.value, categoryName.value, categoryDescription.value)">Update</button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-outline-danger btn-delete btn-lg" (click)="this.delete()">Delete</button>
      </div>
    </div>
  </div>
</div> -->

<div *ngIf="product">
  <div class="container">
    <form #productForm="ngForm">
      <div class="form-group">
        <label for="name">Product's name</label>
        <input type="text" [(ngModel)]="product.name" name="name" class="form-control" id="name" required>
      </div>

      <div class="form-group">
        <label for="description">Product's description</label>
        <input type="text" [(ngModel)]="product.description" name="description" class="form-control" id="description">
      </div>

      <div class="form-group">
        <label for="price">Price</label>
        <input type="text" [(ngModel)]="product.price" name="price" class="form-control" id="price" required>
      </div>

      <div class="form-group">
        <label for="weight">Weight</label>
        <input type="text" [(ngModel)]="product.weight" name="weight" class="form-control" id="weight" required>
      </div>

      <div class="form-group">
        <label for="category">Category</label>
        <select [(ngModel)]="product.category" name="category" class="form-control" id="category" required>
          <option *ngFor="let category of categories" [value]="category">{{category.id}}. {{category.name}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="supplier">Supplier</label>
        <select [(ngModel)]="product.supplier" name="supplier" class="form-control" id="supplier" required>            
          <option *ngFor="let supplier of suppliers" [value]="supplier">{{supplier.id}}. {{supplier.name}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="categoryName">Category's name</label>
        <input type="text" [(ngModel)]="product.categoryName" name="categoryName" class="form-control" id="categoryName" required>
      </div>

      <div class="form-group">
        <label for="categoryDescription">Category's description</label>
        <textarea type="text" [(ngModel)]="product.categoryDescription" name="categoryDescription" class="form-control" id="categoryDescription"></textarea>
      </div>

      <button type="submit" class="btn btn-success" (click)="this.update(productForm.value)">Submit</button>
    </form>
  </div>
</div>