/* body {
  margin: 2em;
}

body, input[type="text"] {
  color: #4A4240;
}
*/

* {
  text-align: center;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
